@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "PT Sans", sans-serif;
  line-height: 2;
  color: #050a30;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
}
p {
  font-size: 1.125rem;
}
button:disabled {
  background-color: #f3f4f6;
  /* color: black; */
}
